body {
    background-image: linear-gradient(to bottom, rgb(205, 202, 202), rgb(107, 105, 105));
    height: 100vh;
}

.title {
    text-align: center;
    background-color: rgb(238, 184, 238);
}

 img {
    border-color: rgb(238, 184, 238);
    box-sizing: border-box;
    border-start-end-radius: 50%;
    width:99%;
    border-width: 5px;
    border-style: dashed;

 }

ul.click a:hover {
    color: white;
}

ul.click {
    list-style-type: none;
}

ul.click li a {
    border-style: solid;
    border-color: black;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    
}
h2 {
    text-align: center;
}